body {
    background-color: black;
    font-family: monospace;
}

#title {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
}

#settings {
    width: 60vh;
    display: flex;
    margin: 0 auto;
}

#wrapDifficulty {
    align-self: center;
    width: 50%;
}

#difficulty {
    height: 2%;
    margin-left: 2%;
    cursor: pointer;
}

#wrapMinecounter {
    display: flex;
    width: 50%;
}

#minecounterIcon {
    height:3vh;
    width: 3vh;
    margin: 1vh;
    align-self: center;
}

#minecounter {
    color: white;
}

#wrapTimer {
    display: flex;
}

#timer {
    color: white;
    margin-right: 2%;
}

#minefield {
    flex-wrap: wrap;
    margin: 0 auto;
    display: grid;

    --columnCount: 0;
    --rowCount: 0;
    --boxSize: 0;
    --fieldSize: calc(var(--columnCount) * (var(--boxSize) + var(--borderSize)));
    --borderSize: 1px;

    grid-template-columns: repeat(var(--columnCount), calc(var(--boxSize) + var(--borderSize)));
    grid-template-rows: repeat(var(--rowCount), calc(var(--boxSize) + var(--borderSize)));

    height: var(--fieldSize);
    width: var(--fieldSize);
    background-color: grey;
    border: 3px solid white;

    cursor: pointer;
}

#minefield div {
    background-image: url("./sprites/tile.png");
    background-size: cover;
    border: var(--borderSize) solid black;
}
